<nav>
  <div class="nav-wrapper blue">
    <a href="#">Squeal</a>
    <ul class="right">
      <li><%= link_to 'Restaurants', restaurants_path %></li>
      <li><%= link_to 'New Restaurant', new_restaurant_path %></li>
    </ul>
  </div>
</nav>